<br>Welcome to {{title | uppercase}} today is {{today | date}}

<br>Please see our menu below:

<table [ngStyle]="tableStyle">
    <thead [ngStyle]="headStyle">
      <tr [ngStyle]="tableStyle">
      <td>Item</td>
      <td>Category</td>
      <td>Price</td>
    </tr>
    </thead>
    <tbody [ngStyle]="bodyStyle">
      <tr [ngStyle]="tableStyle" *ngFor="let menuItem of itemList">
        <td>{{menuItem.item}}</td>
        <td>{{menuItem.category | uppercase}} </td>
        <td>{{menuItem.price | currency}}</td>
      </tr>
    </tbody>
  
</table>